@model List<UserWithRolesViewModel>

@{
    ViewData["Title"] = "Користувачі";
}

<h2>Користувачі</h2>

<table class="table">
    <thead>
        <tr>
            <th class="text-light">Повне ім'я</th>
            <th class="text-light">Email</th>
            <th class="text-light">Роль</th>
            <th class="text-light">Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <td class="text-light">@user.FullName</td>
                <td class="text-light">@user.Email</td>
                <td class="text-light">@user.RoleName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-primary btn-sm">Змінити</a>
                    <a asp-action="Details" asp-route-id="@user.Id" class="btn btn-secondary btn-sm">Деталі</a>
                </td>
            </tr>
        }
    </tbody>
</table>
